* {
  box-sizing: border-box;
}
body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #ddd;
}
.nav {
  background-color: #005b96;
  width: 20%;
  position: absolute;
  height: 100%;
  left: 0;
  margin: 0;
}
.im {
  background-image: url(../images/WhatsApp\ Image\ 2022-03-09\ at\ 8.30.17\ PM.jpeg);
  width: 100%;
  margin: 0;
  height: 30%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-bottom: 1px solid #ddd;
}
.links {
  height: calc(100% - 30%);
  width: 100%;
  background-color: #005b96;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.links a {
  font-size: 17px;
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 31px;
  transition-duration: 0.4s;
}
.links a:hover {
  background-color: #0080ff;
}

.container h3 {
  margin: 0;
}
.container {
  width: 30%;
  height: calc(100% - 10%);
  background-color: white;
  position: absolute;
  right: 3%;
  top: 5%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.container .medicines {
  background-color: var(--secound-color);
  height: 25%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.6s;
  transition-property: transform;
  background-color: blue;
  width: 70%;
}
.container .medicines p {
  font-size: 21px;
  margin-top: 0;
  font-weight: 600;
  color: #ddd;
}
.container .medicines i {
  font-size: 39px;
}
.container .medicines:hover {
  transform: scale(1.1);
}
.container .customer {
  background-color: var(--secound-color);
  height: 25%;
  padding: 10px;
  width: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.6s;
  transition-property: transform;
  background-color: blue;
}
.container .customer p {
  font-size: 21px;
  margin-top: 0;
  font-weight: 600;
  color: #ddd;
}
.container .customer i {
  font-size: 39px;
}
.container .customer:hover {
  transform: scale(1.1);
}

.container .sellers {
  background-color: var(--secound-color);
  height: 20%;
  width: 30%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.6s;
  transition-property: transform;
  background-color: blue;
  width: 70%;
}
.container .sellers p {
  font-size: 21px;
  margin-top: 0;
  font-weight: 600;
  color: #ddd;
}
.container .sellers i {
  font-size: 39px;
}
.container input {
  text-align: center;
  color: black;
  width: 70%;
  height: 50%;
}
.container .sellers:hover {
  transform: scale(1.1);
}

.container2 input {
  text-align: center;
  color: black;
}
.container2 {
  display: absolute;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container2 .seller {
  background-color: var(--secound-color);
  margin-top: 5%;
  height: 20%;
  width: 21%;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.6s;
  transition-property: transform;
  background-color: white;
  margin-top: 1%;
}
.container2 .seller p {
  font-size: 19px;
  margin-top: 0;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
}
.container2 .seller i {
  font-size: 33px;
}
.container2 .seller:hover {
  transform: scale(1.1);
}

.container2 .customer {
  background-color: var(--secound-color);
  height: 20%;
  width: 21%;

  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.6s;
  transition-property: transform;
  margin-top: 1%;
  background-color: white;
}
.container2 .customer p {
  font-size: 19px;
  margin-top: 0;
  font-weight: 600;
  color: #333;
  white-space: nowrap;
}
.container2 .customer i {
  font-size: 33px;
  margin-right: 13%;
}
.container2 .customer:hover {
  transform: scale(1.1);
}

/*-----------------------------------------*/

.container3 {
  position: absolute;
  width: 28%;

  left: 50%;
  margin-left: -17%;
  bottom: 9%;
}
.container3 .amount {
  background-color: var(--secound-color);
  height: 7%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.8s;
  transition-property: transform;
  background-color: #777;
  margin-bottom: 3%;
}
.container3 .amount:hover {
  transform: scale(1.1);
}
.container3 .amount p {
  font-size: 25px;
  margin-top: 0;
  font-weight: 600;
  color: #333;
}
.container3 .amount input {
  height: 2%;
  text-align: center;
  color: black;
}
.container3 i {
  font-size: 33px;
}
.container3 .by {
  background-color: #777;
  height: 7%;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  transition-duration: 0.8s;
  transition-property: transform;
}
.container3 .by:hover {
  transform: scale(1.1);
}
.container3 .by p {
  font-size: 25px;
  margin-top: 0;
  font-weight: 600;
  color: #333;
}
.container3 .by input {
  height: 2%;
  text-align: center;
  color: black;
}
select {
  width: 100%;
}
select:focus {
  border: 2.5px solid #0080ff;
}
